header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: left;
    z-index: 1000; /* no se toca */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

body {
    background-image: url(icon/error.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor_error {
    background-color: #33333377;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    text-align: center;
    width: 40%;
    padding: 50px 0;
}
.titulo_error {
    font-size: 72px;
    margin: 20px auto;
}

p {
    font-size: 32px;
    margin: 12px;
}

footer {
    margin-top: 9%;
}

@media(360px <= width <= 470px) {
    .contenedor_error{
        width: 90%;
    }
    article{
        display: flex;
        justify-content: center;
    }
}