.td_temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temporadas {
    text-align: center;
    font-size: 72px;
    color: rgba(245, 245, 245, 0.849);
    margin-bottom: 8px;
    background-color: #19351d;
    padding: 24px 24px;
    border-radius: 24px;
}

.temp_desc {
    display: flex;
    text-align: center;
    width: 50%;
    color: whitesmoke;
    font-size: 34px;
}

ul {
    background-color: #19351d;
    padding: 0 0 12px 0;
}

.text_temp /*lista*/ {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.titulo_temp {
    text-align: center;
    color: whitesmoke;
    font-size: 52px;
    margin-bottom: 12px;
}
.p_temp {
    text-align: center;
    color: whitesmoke;
    font-size: 32px;
}
.img_temp {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 18px;
}

.imagen_temp1 {
    background-color: #c0ffb8;
    padding: 8px;
    border-radius: 24px;
}

@media(360px <= width <= 470px) {
    .temporadas{
        font-size: 26px;
    }

    .temp_desc{
        width: 90%;
        font-size: 17px;
    }

    .titulo_temp{
        font-size: 26px;
    }

    .p_temp{
        font-size: 17px;
    }

    #d{
    display: none;
}

    .imagen_temp1{
        width: 90%;
        height: 100%;
        margin-bottom: 1rem;
}
}