.contenedor_audio {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(28, 90, 90);
}
.h2_audio {
    color: whitesmoke;
}
.audio_brba {
    padding: 8px 0;
    width: 500px;
}

.extras {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 64px;
    margin: 32px 0 24px 0;
}

ul {
    background-color: #19351d;
    padding: 12px 0;
    list-style: none;
}

.curiosidades {
    display: flex;
    padding: 8px 0px;
    text-align: center;
    justify-content: center;
    margin: 0 12rem;
}
.p_curiosidades {
    color: whitesmoke;
    font-size: 24px;
}

.l_e {
    display: flex;
    justify-content: center;
}
.t_e {
    color: whitesmoke;
    font-size: 48px;
}


.imagenes_c {
    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
}
.imgind_c {
    background-color: #19351d;
    padding: 12px;
}

.td_i {
    text-decoration: none;
    color: whitesmoke;
}

.td_i:hover {
    color: #34f334a9;
    text-decoration: underline;
}

.c {
    padding: 0 0 12px 0;
    background-color: #19351d;
}

.criticas {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.t_ca {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.p_criticas {
    text-align: center;
    font-size: 24px;
    margin: 12px 12rem;
}
.premios_img {
    display: flex;
    justify-content: space-evenly;
}
.img_pr {
    background-color: rgb(0, 90, 12);
    margin: 0 16px;
    padding: 8px;
    border-radius: 24px;
}