html, body {
    color: rgb(236, 255, 238);
}

img {
    border-radius: 56px;
    margin: 0px 24px;
}

.h2_personajes {
    display: flex;
    justify-content: center;
    font-size: 64px;
}

.sec_img {
    background-color: #19351d;
    padding: 12px 0;
}

.figures-izq {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #18471f;
    padding: 24px 12px;
    border-radius: 56px;
    margin: 24px auto;
}

.fig_izq {
    display: flex;
    justify-content: space-evenly;
    border-radius: 56px;
    margin: 0px 4px;
}

.info_izq {
    width: 40%;
    font-size: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #19351d;
    padding: 8px 40px;
    border-radius: 50px;
}

.figures-der {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #18471f;
    padding: 24px 12px;
    border-radius: 56px;
    margin: 24px auto;
}

.fig_der {
    display: flex;
    justify-content: space-evenly;
    border-radius: 56px;
}

.info_der {
    width: 40%;
    font-size: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #19351d;
    padding: 8px 40px;
    border-radius: 50px;
}

.titulo_pers {
    margin: 16px 0px;
}

@media(360px <= width <= 470px) {
    .h2_personajes{
        font-size: 26px;
    }

    img{
        margin: auto;
        width: 90%;
        height: 100%;
    }

    .img_der {
        order: 0;
    }

    .titulo_pers{
        font-size: 24px;
    }

    .p_pers{
        font-size: 14px;
    }

    .figures-izq{
        margin: 24px auto;
        width: 80%;
    }

    .figures-der{
        width: 80%;
    }

    .titulo_pers{
        margin: 3px 0;
    }

    .fig_izq{
        display: flex;
        flex-direction: column;
    }

    .fig_der{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .info_izq{
        margin: 8px auto;
        width: 70%;
        font-size: 16px;
    }

    .info_der{
        order: 1;
        margin: 8px auto;
        width: fit-content;
        font-size: 16px;
    }
}