html {
    scroll-behavior: smooth;
}

header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-top: 8px;
    margin-bottom: 16px;
    text-shadow: 1px 1px 1px;
}

h2 {
    text-shadow: 1px 1px 1px;
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

nav {
    background-color: #388850;
    padding: 10px 20px;
    border-radius: 12px;
    width: min-content;;
    margin: 0 auto;
    display: flex;
}

nav a {
    padding: 5px 10px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1550px;
    margin: 0 auto;
}

body {
    background-color: #369457;
    font-family: "Roboto", sans-serif;
    font-size: large;
    margin: 0 auto;
}

a {
    color: #000000;
    text-decoration:underline;
}

.info {
    padding: 10px 20px;
    background-color: #2b7942;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.imagenes {
    display: flex;
}

img {
    margin-top: 5px;
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #2b7942;
    border-radius: 20px;
    padding: 10px;
}

.imgpersonajes {
    display: flex;
    padding: 10px 70px;
    margin-top: 1px;
}

.infopersonajes {
    display: flex;
}

.imgcuriosidades {
    display: flex;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 5px;
    padding-bottom: 35px;
}

footer {
    background-color: #2b7942;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.pie {
    margin-top: 12px;
    margin-bottom: 3px;
}
